* {
    margin: 0; 
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
}